.navbar {
  padding: 20px;
  background-color: rgb(233, 224, 222);
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: flex;
  justify-content: center;
}
